---
layout: default
title: Davide's Blog
---
<div id="home">
{% for post in site.posts limit:1 %}
  <article>
    <header><h1><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1></header>
  
   {{ post.content }}
  
   <p>
    <a href="{{ post.url }}" title="{{ post.title }}"><time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date_to_string }}</time></a>
   (<a href="{{ post.url }}#disqus_thread" class="post_comment_link">Comments</a>)
        </p>
  
</article>

<hr />

{% endfor %}
</div>

<div>
	<h3 style="margin-top:35px;margin-bottom:10px">Older posts:</h3> 
	{% for post in site.posts %}
		{% unless forloop.first %}
	
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endunless %}
        {% endfor %}
</div>
