<a class="name" href="/">home</a> &middot; 
<a href="/about/">about</a> &middot;
<a href="/archives/">archives</a>

<div id="social">
	<span style="color:black;padding-right:10px;padding-bottom:10px">@helios/heliosmaster</span>
	<a href="http://github.com/heliosmaster" style="color:black;">%</a>
	<a href="http://twitter.com/helios" style="color:#4099FF">!</a>
	<a href="https://plus.google.com/106885346251122953844" style="color:#d6492c">#</a>
	<a href="https://www.linkedin.com/in/davidetaviani" style="color:#4875B4">,</a>
	<a href="https://facebook.com/davide.taviani" style="color:#3b5998" >$</a>
</div>
