<a class="name" href="/">Home</a> &middot; 
<a href="/about/">about</a> &middot;
<a href="/archives/">archives</a>

<div id="social">
<span style="color:black;padding-right:10px;padding-bottom:10px">@helios</span>
<a href="http://github.com/heliosmaster"><img src="{{site.base_path}}/images/gh.png" alt="github" /></a>
<a href="http://twitter.com/helios"><img src="{{site.base_path}}/images/tw.png" alt="twitter" /></a>
<a href="https://plus.google.com/106885346251122953844"><img src="{{site.base_path}}/images/gp.png" alt="google+" /></a>
<a href="https://facebook.com/davide.taviani"><img src="{{site.base_path}}/images/fb.png" alt="facebook" /></a>
<a href="http://grooveshark.com/#!/heliosmaster"><img src="{{site.base_path}}/images/gs.png" alt="grooveshark" /></a>
</div>
